# **TFQuestionnaireDataset usage**

In this notebook a short demo about the TFQuestionnaireDataset class is shown.
Precisely, below are reported the conversion method of a questionnaire to and from JSON format, which are crucial for the generation tasks.


The json is structured as follows:
- Within the top-level "data" key, there is the key "TF_QUESTIONNAIRES" with a corresponding value that is an array, whose elements represent questionnaires. *Notice that just onee questionnaire will be included.*
- Each questionnaire object has the following keys: "ID", "CODE", "NAME", "DESCRIPTION", and "_TF_QUESTIONS".
- The value of the "_TF_QUESTIONS" key is another array.
- Each element in the "_TF_QUESTIONS" array is an object representing a question.
- Each question object has the following keys: "ID", "TYPE_ID", "QUESTIONNAIRE_ID", "CODE", "NAME", and "_TF_ANSWERS".
- The value of the "_TF_ANSWERS" key is another array.
- Each element in the "_TF_ANSWERS" array is an object representing an answer option for the question.
- Each answer object has the following keys: "ID", "QUESTION_ID", "ANSWER", and "SCORE".
Overall, the JSON represents a hierarchical structure of questionnaires, questions, and answer options.

In [1]:
import os
import sys
sys.path.append('\\'.join(os.getcwd().split('\\')[:-1])+'\\src')

from src.data.TFQuestionnairesDataset import TFQuestionnairesDataset

In [2]:
# ----------------
# Load data
# ----------------
dataset = TFQuestionnairesDataset()
dataset.load_data(project_root=os.path.abspath(os.path.join(os.getcwd(), os.pardir)))

questionnaire_id = 1146004

## *Format conversion*

In [3]:
# ----------------
# To JSON
# ----------------
json = dataset.to_json(questionnaire_id)
json

'{"data": {"TF_QUESTIONNAIRES": [{"CODE": "Mood", "NAME": "Mood", "_TF_QUESTIONS": [{"CODE": "1", "NAME": "Working Environment", "TYPE_ID": 2, "DISPLAY_ORDER": 1, "_TF_ANSWERS": [{"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}]}, {"CODE": "2", "NAME": "Tasks / Activities", "TYPE_ID": 2, "DISPLAY_ORDER": 2, "_TF_ANSWERS": [{"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}]}, {"CODE": "3", "NAME": "Colleagues", "TYPE_ID": 2, "DISPLAY_ORDER": 3, "_TF_ANSWERS": [{"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}]}, {"CODE": "4", "NAME": "Manager", "TYPE_ID": 2, "DISPLAY_ORDER": 4, "_TF_ANSWERS": [{"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}]}, {"CODE": "5", "NAME": "Career", "TYPE_ID": 2, "DISPLAY_ORDER": 5, "_TF_ANSWERS": [{"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}]}, {"CODE": "6", "NAME": "Training", "TYPE_ID": 2, "DISPLAY_ORDER": 6, "_TF_ANSWERS": [{"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}]}, {"CODE": "7", "NAME": "Working Time Schedule", "TYPE_ID": 2, "DISPLAY_ORDER": 7, "_TF_ANSWERS": [{"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Happy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Unhappy"}]}]}]}}'

In [4]:
# ----------------
# From JSON
# ----------------
generated_json = """{
  "data": {
    "TF_QUESTIONNAIRES": [
      {
        "CODE": "WSQ01",
        "NAME": "Work Stress Questionnaire",
        "_TF_QUESTIONS": [
          {
            "CODE": "Q01",
            "NAME": "How often do you feel overwhelmed by your workload?",
            "TYPE_ID": 3,
            "DISPLAY_ORDER": 1,
            "_TF_ANSWERS": [
              {
                "ANSWER": "Never"
              },
              {
                "ANSWER": "Rarely"
              },
              {
                "ANSWER": "Sometimes"
              },
              {
                "ANSWER": "Often"
              },
              {
                "ANSWER": "Always"
              }
            ]
          },
          {
            "CODE": "Q02",
            "NAME": "How often do you feel that you have too little time to complete your tasks?",
            "TYPE_ID": 3,
            "DISPLAY_ORDER": 2,
            "_TF_ANSWERS": [
              {
                "ANSWER": "Never"
              },
              {
                "ANSWER": "Rarely"
              },
              {
                "ANSWER": "Sometimes"
              },
              {
                "ANSWER": "Often"
              },
              {
                "ANSWER": "Always"
              }
            ]
          },
          {
            "CODE": "Q03",
            "NAME": "How often do you feel that you are not appreciated for your work?",
            "TYPE_ID": 3,
            "DISPLAY_ORDER": 3,
            "_TF_ANSWERS": [
              {
                "ANSWER": "Never"
              },
              {
                "ANSWER": "Rarely"
              },
              {
                "ANSWER": "Sometimes"
              },
              {
                "ANSWER": "Often"
              },
              {
                "ANSWER": "Always"
              }
            ]
          },
          {
            "CODE": "Q04",
            "NAME": "How often do you feel that you are not in control of your work?",
            "TYPE_ID": 3,
            "DISPLAY_ORDER": 4,
            "_TF_ANSWERS": [
              {
                "ANSWER": "Never"
              },
              {
                "ANSWER": "Rarely"
              },
              {
                "ANSWER": "Sometimes"
              },
              {
                "ANSWER": "Often"
              },
              {
                "ANSWER": "Always"
              }
            ]
          },
          {
            "CODE": "Q05",
            "NAME": "How often do you feel that you are not being challenged enough at work?",
            "TYPE_ID": 3,
            "DISPLAY_ORDER": 5,
            "_TF_ANSWERS": [
              {
                "ANSWER": "Never"
              },
              {
                "ANSWER": "Rarely"
              },
              {
                "ANSWER": "Sometimes"
              },
              {
                "ANSWER": "Often"
              },
              {
                "ANSWER": "Always"
              }
            ]
          },
          {
            "CODE": "Q06",
            "NAME": "How often do you feel that you are not being supported by your colleagues?",
            "TYPE_ID": 3,
            "DISPLAY_ORDER": 6,
            "_TF_ANSWERS": [
              {
                "ANSWER": "Never"
              },
              {
                "ANSWER": "Rarely"
              },
              {
                "ANSWER": "Sometimes"
              },
              {
                "ANSWER": "Often"
              },
              {
                "ANSWER": "Always"
              }
            ]
          },
          {
            "CODE": "Q07",
            "NAME": "How often do you feel that you are not being supported by your manager?",
            "TYPE_ID": 3,
            "DISPLAY_ORDER": 7,
            "_TF_ANSWERS": [
              {
                "ANSWER": "Never"
              },
              {
                "ANSWER": "Rarely"
              },
              {
                "ANSWER": "Sometimes"
              },
              {
                "ANSWER": "Often"
              },
              {
                "ANSWER": "Always"
              }
            ]
          }
        ]
      }
    ]
  }
}"""

In [5]:
questionnaire = TFQuestionnairesDataset.from_json(json_data=json, questionnaire_id=1146002)

In [6]:
questionnaire.questionnaires

        ID  CODE  NAME
0  1146002  Mood  Mood

In [7]:
questionnaire.questions

   ID  TYPE_ID  QUESTIONNAIRE_ID CODE                   NAME  DISPLAY_ORDER
0   0        2           1146002    1    Working Environment              1
1   1        2           1146002    2     Tasks / Activities              2
2   2        2           1146002    3             Colleagues              3
3   3        2           1146002    4                Manager              4
4   4        2           1146002    5                 Career              5
5   5        2           1146002    6               Training              6
6   6        2           1146002    7  Working Time Schedule              7

In [8]:
questionnaire.answers

     ID  QUESTION_ID   ANSWER
0     0            0    Happy
1     1            0  Neutral
2     2            0  Unhappy
3     3            0    Happy
4     4            0  Neutral
..   ..          ...      ...
142  16            6  Neutral
143  17            6  Unhappy
144  18            6    Happy
145  19            6  Neutral
146  20            6  Unhappy

[147 rows x 3 columns]

## *Get questionaire info*

In [9]:
topic = dataset.get_questionnaire_topic(questionnaire_id)
topic

'Working mood'

In [10]:
question_types = dataset.get_questionnaire_question_type(questionnaire_id)
question_types

'Multi choice'

In [11]:
question_number = dataset.get_questionnaire_question_number(questionnaire_id)
question_number

7