# **TFQuestionnaireDataset usage - demo**

In this notebook a short demo about the TFQuestionnaireDataset class is shown.
Precisely, below are reported the conversion method of a questionnaire to and from JSON format, which are crucial for the generation tasks.


The json is structured as follows:
- Within the top-level "data" key, there is the key "TF_QUESTIONNAIRES" with a corresponding value that is an array, whose elements represent questionnaires. *Notice that just onee questionnaire will be included.*
- Each questionnaire object has the following keys: "ID", "CODE", "NAME", "DESCRIPTION", and "_TF_QUESTIONS".
- The value of the "_TF_QUESTIONS" key is another array.
- Each element in the "_TF_QUESTIONS" array is an object representing a question.
- Each question object has the following keys: "ID", "TYPE_ID", "QUESTIONNAIRE_ID", "CODE", "NAME", and "_TF_ANSWERS".
- The value of the "_TF_ANSWERS" key is another array.
- Each element in the "_TF_ANSWERS" array is an object representing an answer option for the question.
- Each answer object has the following keys: "ID", "QUESTION_ID", "ANSWER", and "SCORE".
Overall, the JSON represents a hierarchical structure of questionnaires, questions, and answer options.

In [1]:
import os
import sys
sys.path.append('\\'.join(os.getcwd().split('\\')[:-1])+'\\src')

from src.data.TFQuestionnairesDataset import TFQuestionnairesDataset

In [2]:
# ----------------
# Load data
# ----------------
dataset = TFQuestionnairesDataset()
dataset.load_data(project_root=os.path.abspath(os.path.join(os.getcwd(), os.pardir)))

questionnaire_id = 1146004

## *Format conversion*

In [3]:
# ----------------
# To JSON
# ----------------
json = dataset.to_json(questionnaire_id)
json

'{"data": {"TF_QUESTIONNAIRES": [{"CODE": "Mood", "NAME": "Mood", "_TF_QUESTIONS": [{"CODE": "1", "NAME": "Working Environment", "TYPE_ID": 2, "DISPLAY_ORDER": 1, "_TF_ANSWERS": [{"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}]}, {"CODE": "2", "NAME": "Tasks / Activities", "TYPE_ID": 2, "DISPLAY_ORDER": 2, "_TF_ANSWERS": [{"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}]}, {"CODE": "3", "NAME": "Colleagues", "TYPE_ID": 2, "DISPLAY_ORDER": 3, "_TF_ANSWERS": [{"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}]}, {"CODE": "4", "NAME": "Manager", "TYPE_ID": 2, "DISPLAY_ORDER": 4, "_TF_ANSWERS": [{"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}]}, {"CODE": "5", "NAME": "Career", "TYPE_ID": 2, "DISPLAY_ORDER": 5, "_TF_ANSWERS": [{"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}]}, {"CODE": "6", "NAME": "Training", "TYPE_ID": 2, "DISPLAY_ORDER": 6, "_TF_ANSWERS": [{"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}]}, {"CODE": "7", "NAME": "Working Time Schedule", "TYPE_ID": 2, "DISPLAY_ORDER": 7, "_TF_ANSWERS": [{"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}, {"ANSWER": "Unhappy"}, {"ANSWER": "Neutral"}, {"ANSWER": "Happy"}]}]}]}}'

In [4]:
# ----------------
# From JSON
# ----------------
questionnaire = TFQuestionnairesDataset.from_json(json)

In [5]:
questionnaire.questionnaires

   CODE  NAME
0  Mood  Mood

In [6]:
questionnaire.questions

  CODE                   NAME  TYPE_ID  DISPLAY_ORDER
0    1    Working Environment        2              1
1    2     Tasks / Activities        2              2
2    3             Colleagues        2              3
3    4                Manager        2              4
4    5                 Career        2              5
5    6               Training        2              6
6    7  Working Time Schedule        2              7

In [7]:
questionnaire.answers

      ANSWER
0    Unhappy
1    Neutral
2      Happy
3    Unhappy
4    Neutral
..       ...
142  Neutral
143    Happy
144  Unhappy
145  Neutral
146    Happy

[147 rows x 1 columns]

## *Get questionaire info*

In [8]:
topic = dataset.get_questionnaire_topic(questionnaire_id)
topic

'Working mood'

In [9]:
question_types = dataset.get_questionnaire_question_type(questionnaire_id)
question_types

'Multi choice'

In [10]:
question_number = dataset.get_questionnaire_question_number(questionnaire_id)
question_number

7