# **Results**

In this notebook the experiment results are reported. 

- Best and Worst based on: Conversion Error, not json error, syntactic intraquestionnaire similarity, semantic score, serendipity
- Plot of trend variation on different values for temperature and frequency penalty.
- TODO: altro

In [1]:
import pandas as pd
import os
import sys
sys.path.append('\\'.join(os.getcwd().split('\\')[:-1])+'\\src')
from src.visualization.GlobalResultVisualizer import GlobalResultVisualizer

## **Global results**

In [2]:
grv = GlobalResultVisualizer(project_root=os.path.abspath(os.path.join(os.getcwd(), os.pardir)))
bw_conversion_errors_df, bw_json_errors_df, bw_intraquestionnaire_similarity_df, bw_semantic_metrics_df, bw_serendipity_scores_df = grv.get_best_and_worst_experiments()

In [3]:
bw_conversion_errors_df[["EXPERIMENT_ID", "CONVERSION_ERROR_RATE"]]

                                EXPERIMENT_ID  CONVERSION_ERROR_RATE
0    0s_FULL_gpt-35-turbo-dev_6000MT_0.5T_1FP                  100.0
1           0s_gpt-35-turbo-dev_6000MT_0T_1FP                  100.0
2           0s_gpt-4-dev_4000MT_0.5T_1FP_JSON                  100.0
3             0s_gpt-4-dev_4000MT_0T_1FP_JSON                  100.0
4   0s_FULL_gpt-35-turbo-dev_6000MT_0.25T_0FP                    0.0
5    0s_FULL_gpt-35-turbo-dev_6000MT_0.5T_0FP                    0.0
6      0s_FULL_gpt-35-turbo-dev_6000MT_0T_0FP                    0.0
7     0s_FULL_gpt-4-dev_4000MT_0.25T_0FP_JSON                    0.0
8        0s_FULL_gpt-4-dev_4000MT_0T_0FP_JSON                    0.0
9        0s_gpt-35-turbo-dev_6000MT_0.25T_0FP                    0.0
10        0s_gpt-35-turbo-dev_6000MT_0.5T_0FP                    0.0
11          0s_gpt-35-turbo-dev_6000MT_0T_0FP                    0.0
12          0s_gpt-4-dev_4000MT_0.5T_0FP_JSON                    0.0
13            0s_gpt-4-dev_4000MT_0T_0FP_JSON                    0.0
14   1s_FULL_gpt-35-turbo-dev_6000MT_0.5T_0FP                    0.0
15       1s_FULL_gpt-4-dev_4000MT_0T_0FP_JSON                    0.0
16       1s_gpt-35-turbo-dev_6000MT_0.25T_0FP                    0.0
17        1s_gpt-35-turbo-dev_6000MT_0.5T_0FP                    0.0
18            1s_gpt-4-dev_4000MT_0T_0FP_JSON                    0.0

In [4]:
bw_json_errors_df[["EXPERIMENT_ID", "JSON_ERROR_RATE"]]

                                EXPERIMENT_ID  JSON_ERROR_RATE
0           0s_gpt-35-turbo-dev_6000MT_0T_1FP            100.0
1   0s_FULL_gpt-35-turbo-dev_6000MT_0.25T_0FP              0.0
2    0s_FULL_gpt-35-turbo-dev_6000MT_0.5T_0FP              0.0
3      0s_FULL_gpt-35-turbo-dev_6000MT_0T_0FP              0.0
4     0s_FULL_gpt-4-dev_4000MT_0.25T_0FP_JSON              0.0
5        0s_FULL_gpt-4-dev_4000MT_0T_0FP_JSON              0.0
6        0s_gpt-35-turbo-dev_6000MT_0.25T_0FP              0.0
7         0s_gpt-35-turbo-dev_6000MT_0.5T_0FP              0.0
8           0s_gpt-35-turbo-dev_6000MT_0T_0FP              0.0
9           0s_gpt-4-dev_4000MT_0.5T_0FP_JSON              0.0
10            0s_gpt-4-dev_4000MT_0T_0FP_JSON              0.0
11   1s_FULL_gpt-35-turbo-dev_6000MT_0.5T_0FP              0.0
12       1s_FULL_gpt-4-dev_4000MT_0T_0FP_JSON              0.0
13       1s_gpt-35-turbo-dev_6000MT_0.25T_0FP              0.0
14        1s_gpt-35-turbo-dev_6000MT_0.5T_0FP              0.0
15            1s_gpt-4-dev_4000MT_0T_0FP_JSON              0.0

In [5]:
bw_intraquestionnaire_similarity_df[["EXPERIMENT_ID", "INTRAQSTN_ROUGE_L_F1_SCORE"]]

                            EXPERIMENT_ID  INTRAQSTN_ROUGE_L_F1_SCORE
0  0s_FULL_gpt-35-turbo-dev_6000MT_0T_1FP                    0.390810
1  0s_FULL_gpt-4-dev_4000MT_0.5T_1FP_JSON                    0.148602

In [6]:
bw_semantic_metrics_df[["EXPERIMENT_ID", "FINAL_SCORE"]]

                         EXPERIMENT_ID  FINAL_SCORE
0  0s_gpt-35-turbo-dev_6000MT_0.5T_1FP     0.650004
1    0s_gpt-35-turbo-dev_6000MT_0T_1FP     0.333347

In [7]:
bw_serendipity_scores_df[["EXPERIMENT_ID", "AVG_SERENDIPITY_SCORE"]]

                            EXPERIMENT_ID  AVG_SERENDIPITY_SCORE
0       1s_gpt-35-turbo-dev_6000MT_0T_0FP               0.852200
1  0s_FULL_gpt-35-turbo-dev_6000MT_0T_1FP               0.666667
2     0s_gpt-35-turbo-dev_6000MT_0.5T_1FP               0.666667